body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 36px;
}

button {
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

#canvas-wrap-1 button,
#canvas-wrap-2 button {
	width: 300px;
	height: 28px;
	float: right;
	clear: both;
}

.bottom-buttons-wrap button {
	width: 400px;
	height: 50px;
}

#demo-image {
	display: none;
}

canvas {
	border: 1px solid #000000;
}
