.*.sw[pno]
*.zip
chrome_JSR/
firefox_JSR/
*.crx
*.xpi
tests/integration_tests/geckodriver.log
tests/integration_tests/testing/__pycache__/
tests/integration_tests/testing/tests_definition/__pycache__/
