.*
!.gitignore
!.reuse
*.zip
build/
ipv4.csv
common/ipv4.dat
ipv6.csv
common/ipv6.dat
common/wrappingX*
doxygen/
*.crx
*.xpi
*.pyc
*.log
tests/common_files/webbrowser_drivers/chromedriver*
tests/common_files/webbrowser_drivers/geckodriver*
tests/system_tests/data/
tests/system_tests/get_data/top_sites/*.csv
tests/system_tests/get_data/selenium/*.jar
tests/unit_tests/node_modules/*
tests/unit_tests/tmp/*
tests/fpd_tests/wrappers*
tests/fpd_tests/tests/resources.js
tests/performance_tests/node_modules

wasm/node_modules

website/output
website/content/wrappers/*
