body {
	width: 355px;
	height: 390px;
	margin-left: 20px;
	margin-right: 20px;
}
h3 {
	font-size: 17px;
}
p {
	font-size: 15px;
}

#first-row {
	display: flex;
	border-bottom: 1px solid black;
}

.logo {
	margin: 14px;
}

#titletext {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;


}

#settings-icon {
	margin-top: 18px;
	margin-right: 14px;
	margin-left: 72px;
	margin-bottom: 18px;
}
#settings-icon:hover {
	cursor: pointer;
	opacity: 0.5;
}

#second-row {
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

#second-row-without-border {
	opacity: 1.0;
}

#set-level-on {

}

#current-site {
	margin-bottom: 20px;
	margin-top: -10px;
}

#levels-site {
	margin-bottom: 20px;
}

#third-row {
	padding-bottom: 10px;
	opacity: 1.0;
	transition: opacity .25s ease-in-out;
  	-moz-transition: opacity .25s ease-in-out;
}

#levels-default {
	margin-bottom: 20px;
}


.level {
	font-weight: bold;
	font-size: 15px;
	color: #4a4a4a;
	margin: 7px;
	padding: 7px;
	border: 2px solid grey;
	border-radius: 5px;
}

.level:hover {
	cursor: pointer;
	background-color: #c9c9c9;
	color: black;	
}

.active {
	border: 2px solid black;
	background-color: #c9c9c9;
	color:  black;
}

#fourth-row {
	padding-top: 10px;
	border-top: 1px solid black;
}

#set-custom-level {
	float: left;
	margin-top: 20px;
}

#settings-button {
	font-weight: bold;
	font-size: 15px;
	color: #4a4a4a;
	margin: 7px;
	padding: 7px;
	border: 2px solid grey;
	border-radius: 5px;
	display: inline-block;
	margin-top: 13px;
	margin-left: 20px;
}

#settings-button:hover {
	cursor: pointer;
	border: 2px solid black;
	background-color: #c9c9c9;
	color:  black;
}

#active-title {
	float: left;
}

#active-level {
	position: relative;
	top: 19px;
	margin-left: 10px;
	cursor: default;
}
#active-domain {
	position: relative;
	top: 19px;
	font-size: 15px;
}

#active-domain-text {
	font-weight: bold;
}