@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2?v=3.13") format("woff2"),
       url("../fonts/Inter-Regular.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2?v=3.13") format("woff2"),
       url("../fonts/Inter-Bold.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2?v=3.13") format("woff2"),
       url("../fonts/Inter-Black.woff?v=3.13") format("woff");
}

@font-face {
    font-family: 'Oxygen Mono';
    src: url('OxygenMono-Regular.woff2') format('woff2'),
        url('OxygenMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --main-font: 'Inter', Roboto, Helvetica, Arial, sans-serif;
  --code-font: 'Oxygen Mono', 'Roboto Mono', monospace;
  --text-color: #333333;
  --link-color: #e76f51;
  --link-color-rgb: 231, 111, 81;
  --ghost-white: #FBF9FF;
  --lightgray: #fefae0;
  --mg-xlarge: 2rem;
  --mg-large: 1.5rem;
  --mg-medium: 1rem;
  --mg-small: 0.5rem;
}

* {
  box-sizing: border-box;
}

html {
}

body {
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1em;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

a {
  color: var(--text-color);
  text-decoration-color: var(--link-color);
  transition: color 0.3s ease-in;
}

a:hover {
  color: #4B5358; /*lighter text color shade */
}

a[href*="//"]:not([href*="jsr.manufacturaindependente.org"]):not(.button):after {
  content: "↗";
  color: var(--link-color);
  font-size: 70%;
  font-weight: 700;
  vertical-align: super;
}


img {
  display: inline-block;
  vertical-align: middle;
}

code,
pre {
  font-family: var(--code-font);
}

code {
  background-color: var(--lightgray);
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.25em 0.5em;
  display: inline-block;
  position: relative;
}

/* Typography
*/

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

h3, h4, h5, h6 {
  font-weight: 900;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) { margin-top: var(--mg-xlarge); }

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
h4:not(:last-child),
h5:not(:last-child),
h6:not(:last-child) { margin-bottom: var(--mg-medium); }

.highlight {
  font-size: 115%;
}

p:not(:last-child) {
  margin-bottom: var(--mg-large);
}

ul:not(:last-child),
ol:not(:last-child) {
  margin-bottom: var(--mg-large);
}

/* General layout
*/

.container {
  width: auto;
  max-width: 1344px;
  margin: 0 auto;
  position: relative;
  padding: var(--mg-xlarge) var(--mg-medium);
}

.content-wrapper {
  display: grid;
  grid-gap: var(--mg-medium) var(--mg-xlarge);
  grid-template-columns: auto 1fr;
  margin-top: var(--mg-xlarge);
}

@media screen and (max-width: 375px) {
  .content-wrapper {
    display: block;
  }
}

#main-content {
  padding: 0 var(--mg-medium) calc(2 * var(--mg-xlarge));
}

#main-content .header {
  margin-bottom: var(--mg-large);
  line-height: 1;
}

.footer {
  font-size: 0.85rem;
  line-height: 1.3;
  color: var(--ghost-white);
  background-color: var(--text-color);
}

.footer a {
  color: var(--ghost-white);
}

.footer .grid {
  display: grid;
  grid-gap: var(--mg-large) var(--mg-medium);
  grid-template-columns: 1fr 1fr auto;
}

@media screen and (max-width: 375px) {
  .footer .grid {
    display: block;
  }
}

.footer .credits strong {
  display: block;
}

.footer .credits ul ul {
  margin-bottom: var(--mg-medium);
}

#main-content ul li {
  list-style-type: disc;
}

#main-content li {
  margin-top: var(--mg-small);
  margin-left: var(--mg-medium);
}

#main-content li li {
  margin-left: var(--mg-medium);
}

/* Navbar
*/

/* #topheader {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-bottom: 0;
}*/

.navbar {
  font-size: 1rem;
  color: var(--ghost-white);
  background-color: var(--text-color);
  min-height: 3.25rem;
  position: relative;
  padding: var(--mg-small) var(--mg-medium);
}

.navbar a {
  color: var(--ghost-white);
}


.navbar .container {
  width: 100%;
  padding: 0;
}

.navbar-item {
   padding: var(--mg-small) 0.75rem;
   align-items: center;
   display: flex;
   flex-grow: 0;
   flex-shrink: 0;
   position: relative;
   line-height: 1.5;
   text-decoration: none;
}

.navbar-brand .navbar-item {
   align-items: center;
   display: flex;
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.navbar-brand img {
  height: 32px;
}

.navbar-brand p {
  line-height: 1;
  margin-left: var(--mg-medium);
}

.navbar-brand strong {
  font-weight: 900;
}

.navbar-brand p span {
  font-size: 80%;
}

.navbar-burger {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: 0 0;
  border: none;
  color: var(--text-color);
  font-family: inherit;
  font-size: 1em;
}

.sidebar-overlay {
  background-color: #000;
  display: none;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition-duration: .2s;
  transition-property: opacity;
  z-index: 2;
}

@media screen and (max-width: 840px) {

  .content-wrapper {
    position: relative;
    display: block;
    padding-left: 0;
  }

  .sidebar-overlay.is-shown {
    display: block;
    opacity: 0.8;
    pointer-events: auto;
  }

  .sidebar {
    width: 0;
    transform: translateX(-18rem);
    top: 0;
    left: 0;
    width: 18rem;
    height: 100%;

    position: absolute;
    z-index: 10;
    transition: transform 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #fff;
    padding: var(--mg-xlarge) var(--mg-medium);
  }

  .sidebar.is-shown {
    transform: translate(0, 0);
    z-index: 15;
  }

  .navbar-burger {
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
  }

  .navbar-burger:hover {
    background-color: rgba(0,0,0,.05);
  }

  .navbar-burger span {
    background-color: var(--text-color);
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color,opacity,transform;
    transition-timing-function: ease-out;
    width: 16px;
  }

  .navbar-burger span:nth-child(1) {
    top: calc(50% - 6px);
  }

  .navbar-burger span:nth-child(2) {
    top: calc(50% - 1px);
  }

  .navbar-burger span:nth-child(3) {
    top: calc(50% + 4px);
  }

  .navbar-burger.is-active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }

  .navbar-burger.is-active span:nth-child(2) {
    opacity: 0;
  }

  .navbar-burger.is-active span:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }

}

@media screen and (min-width: 841px) {

  .navbar {
    display: none;/*
    font-size: 1.125rem;
    display: flex;
    align-items: stretch;
    padding: var(--mg-medium) calc(var(--mg-xlarge) * 2 );*/
  }
/*
  .navbar-brand img {
    height: 48px;
  }

  .navbar-brand strong {
    display: block;
    font-weight: 900;
  }*/

}

.block:not(:first-child) {
  padding-top: var(--mg-large);
}

.block:not(:last-child) {
  margin-bottom: var(--mg-large);
}

/* Helper classes
*/

.has-text-centered {
  text-align: center !important;
}

.has-text-justified {
  text-align: justify !important;
}

.has-text-left {
  text-align: left !important;
}

.has-text-right {
  text-align: right !important;
}


/* Sidebar navigation
*/

.menu-list {
  font-size: 0.85rem;
}

.menu-list li {
  margin-left: 0;
  list-style-type: none;
}

.menu-heading strong {
  color: var(--text-color);
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.menu-heading strong.logo img {
  width: 120px;
}

.menu-heading:not(:last-child) {
    margin-bottom: var(--mg-medium);
}

.menu-list {
  list-style: none;
  line-height: 1;
}

.menu-list li:not(:last-child) {
}

.menu-list a {
  color: var(--link-color);
  text-decoration: none;
  display: block;
  padding: 0.25em 0;
  border-bottom: 0;
}

.menu-list a:hover {
}

.menu-list li ul {
  margin: var(--mg-small) 0;
}

/* Buttons
*/

.button {
  color: rgba(var(--link-color-rgb), 0.9);
  background-color: #fff;
  border: 2px solid rgba(var(--link-color-rgb), 0.9);
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -webkit-appearance: none;
}

.button:hover {
  color: rgba(var(--link-color-rgb), 1);
  border-color: rgba(var(--link-color-rgb), 1);
}

a.button {
  text-decoration: none;
  display: inline-block;
}

.button.is-normal {
  font-size: 1rem;
}

.button.is-medium {
  font-size: 1.25rem;
}

.button.is-large {
  font-size: 1.5rem;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.buttons .button {
  margin-bottom: 0.5rem;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
  margin-right: 0.5rem;
}

.buttons:last-child {
  margin-bottom: -0.5rem;
}

.buttons:not(:last-child) {
  margin-bottom: 1rem;
}

.buttons.are-small .button:not(.is-normal):not(.is-medium):not(.is-large) {
  font-size: 0.75rem;
}

.buttons.are-small .button:not(.is-normal):not(.is-medium):not(.is-large):not(.is-rounded) {
  border-radius: 2px;
}

.buttons.are-medium .button:not(.is-small):not(.is-normal):not(.is-large) {
  font-size: 1.25rem;
}

.buttons.are-large .button:not(.is-small):not(.is-normal):not(.is-medium) {
  font-size: 1.5rem;
}

.buttons.is-centered {
  justify-content: center;
}

/* Homepage
*/


/* Hero
  based in Bulma's hero component
  https://github.com/jgthms/bulma/blob/master/sass/grid/columns.sass
*/

/*.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}*/

#home .hero-body {
  /*padding: calc(2 * var(--mg-xlarge)) var(--mg-xlarge);*/
}

#home .hero-body h3 + p {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#home .block:not(:first-child) {
  padding: var(--mg-xlarge) 0;
}

#about .grid {
  display: grid;
  grid-gap: var(--mg-xlarge) var(--mg-xlarge);
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

#contribute .grid {
  display: grid;
  grid-gap: var(--mg-xlarge) var(--mg-large);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid article header {
  margin-bottom: var(--mg-medium);
}

/* Blog and article page
*/

.blog-index .hentry {
  margin-bottom: var(--mg-xlarge);
}

.blog-index .hentry a {
  text-decoration: none;
  display: grid;
  grid-gap: 0 var(--mg-xlarge);
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
}

.blog-index .hentry a:hover {
  color: var(--link-color);
}

.hentry.post,
.hentry.page {
  max-width: 42rem;
}

.hentry header {
  margin-bottom: var(--mg-xlarge);
}

.blog-index .hentry header {
  margin-bottom: var(--mg-medium);
}

.entry-date {
  margin-bottom: var(--mg-small);
  font-size: 85%;
  opacity: 0.8;
}

.entry-title {
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: var(--mg-small) !important;
}
