{% extends "base.html" %}

{% set title = page.title %}

{% block extrascripts %}

  <script src="/theme/js/bowser.js"></script>
  <script>
    const browser = window.bowser.getParser(window.navigator.userAgent);
    const browserName = browser.getBrowserName();
    const buttons = {
      firefox: document.querySelector('#download-firefox'),
      chrome: document.querySelector('#download-chrome'),
      opera: document.querySelector('#download-opera'),
    }
    if (browserName == 'Firefox') {
      buttons.chrome.remove();
      buttons.opera.remove();
    } else if (browserName.startsWith('Chrom')) {
      buttons.firefox.remove();
      buttons.opera.remove();
    } else if (browserName.startsWith('Opera')) {
      buttons.firefox.remove();
      buttons.chrome.remove();
    }
  </script>
{% endblock %}

{% block content %}

  {{ page.content }}

  {# source link #}
  {# <p><a href="{{ page.relPath }}{{ compound.sourceFileName }}{{ config.HTML_FILE_EXTENSION }}">{{ tr.gotoSourceCode }}</a></p> #}

{% endblock %}
