{% extends "base.html" %}

{% set title = "Blog posts" %}

{% block content %}
<section>

{% for article in articles_page.object_list %}
        <article class="hentry">
                <header>
                  <h3 class="entry-title">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                  </h3>
                </header>
                <footer class="post-info">
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                </footer><!-- /.post-info -->
                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        </article>
{% endfor %}

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}

</section>
{% endblock content %}
