{% extends "base.html" %}

{% set title = "Blog posts" %}

{% block content %}
<section class="blog-index">
  <header>
    <h2>Blogposts</h2>
    <a href="{{ SITEURL }}/feeds/all.atom.xml" class="rss"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
  </header>
  <section class="series_list">
    <h3>Recommended blog series</h3>
    <ul>
      <li><a href="/mv3/">Manifest v3</a></li>
      <li><a href="/fingerprinting">Browser fingerprinting</a></li>
    </ul>
  </section>

  <section>
    <h3>Recent posts</h3>
{% for article in articles_page.object_list %}
        <article class="hentry">
          <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
            <header>
              <h3 class="entry-title">
                {{ article.title }}
              </h3>
              <p class="entry-date">
                <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
              </p>
            </header>
            <div class="entry-content"> {{ article.summary | striptags }} </div><!-- /.entry-content -->
          </a>
        </article>
{% endfor %}
  </section>

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}

</section>
{% endblock content %}
