{% extends "base.html" %}

{% set title = page.title %}

{% block content %}
<article class="hentry page">
  <header>
  {% block title %}
    <h2 class="entry-title">{{ page.title }}</h2>
  {% endblock %}
  </header>

  <div class="entry-content">
    {{ page.content }}
  </div>

  {# source link #}
  <div class="source-link">
  <p><a href="https://pagure.io/JShelter/webextension/blob/main/f/common/wrappingS-{{ page.slug|upper }}.js">See this wrapper's source code for more</a></p>
  </div>
</article>
{% endblock %}
