/*
 * SPDX-FileCopyrightText: 2021 2019 Libor Polčák
 * SPDX-FileCopyrightText: 2021 2019 Martin Timko
 * SPDX-FileCopyrightText: 2021 2021 Giorgio Maone
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

body {
	padding: 1em;
	margin: 1em;
	min-width: 38em;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

h3 {
	font-size: 3ex;
}

.buttons {
	text-align: end;
	margin: 0 0 1em 0;
}

#logo {
	width: 32px;
}

#titletext {
	display: block;
	font-size: large;
	text-align: center;
}

#controls {
	width: 25px;
}

#site-settings {
	display: none;
}
#site-settings.enabled {
	display: initial;
}

#page-info {
  display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#refresh-page {
	font-size: large;
	font-weight: bold;
}

#current-site {
	font-size: large;
}

#level-select {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
}

.level {
	font-weight: bold;
	font-size: large;
	color: #4a4a4a;
	margin: 0.7ex;
	padding: 0.7ex;
	border: 2px solid grey;
	border-radius: 0.5ex;
}

.level:hover {
	cursor: pointer;
	background-color: #c9c9c9;
	color: black;
}

.active {
	border: 2px solid black;
	background-color: #c9c9c9;
	color:  black;
}

#controls {
	font-weight: bold;
	font-size: 1.5ex;
	color: #4a4a4a;
	margin: 0.7ex;
	padding: 0.7ex;
	border: 2px solid grey;
	border-radius: 0.5ex;
	margin-top: 1.3ex;
	margin-left: 2ex;
}

#controls:hover {
	cursor: pointer;
	border: 2px solid black;
	background-color: #c9c9c9;
	color:  black;
}

#binary_options {
	grid-area: bin;
}

.off_message{
	font-size: large;
	display: none;
}

.off > .off_message {
	display: block;
}

.off > .switch_wrapper {
	display: none;
}

.switch_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.switch_wrapper > label {
	font-size: large;
	white-space: nowrap;
}

/* The switch - the box around the slider */
.switch {
	--bg-color: white;
	--off-color: gray;
	--on-color:black;
	position: relative;
	display: inline-block;
	width: 64px;
	height: 34px;
	margin-left: 3px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;

}

/* ON/OFF slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--off-color);
	-webkit-transition: .4s;
	transition: .4s;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	line-height: 25px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 30px;
	left: 4px;
	bottom: 4px;
	background-color: var(--bg-color);
	-webkit-transition: .4s;
	transition: .4s;
	color: var(--off-color);
	content:"OFF";
}

input:checked + .slider {
	background-color:  var(--on-color);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--on-color);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	content:"ON";
	color: var(--on-color);
}

#switch-label
{
	text-align: center;
	vertical-align: middle;
	font-size:14pt;
	padding-top:5px;
}


#btn-tweak:disabled {
	display: none;
}

#tweaks {
	display: none;
}

.tweak {
	display: flex;
}

.tweaking #tweaks {
	display: grid;
	grid: auto / auto 1fr 1fr;
	gap: 1em;
	align-items: center;
}



.head {
	font-weight: bold;
}

.explainer {
	grid-column-start: 1;
	grid-column-end: -1;
	padding-bottom: 3px;
	border-bottom: 1px solid grey;
}

.more .description2 {
	display: none;
}